.App {
  text-align: center;
}

.App-footer {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.text-image-container{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}
.text-image-container img{
  width: 100%;
}

@media (min-width: 900px){
  .text-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 5px;
    margin: 5px auto;
  }
  .text-image-container img {



  }
  .text-image-container p{

  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
